@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF-Pro";
  src: url("../public/assets/font/SF-Pro.ttf");
}
@font-face {
  font-family: "SF-Pro-Rounded-Black";
  src: url("../public/assets/font/SF-Pro-Rounded-Black.otf");
}
@font-face {
  font-family: "SF-Pro-Text-Light";
  src: url("../public/assets/font/SF-Pro-Text-Light.otf");
}
@font-face {
  font-family: "SF-Pro-Text-Black";
  src: url("../public/assets/font/SF-Pro-Text-Black.otf");
}
@font-face {
  font-family: "SF-Pro-Display-Black";
  src: url("../public/assets/font/SF-Pro-Display-Black.otf");
}

@font-face {
  font-family: "Lobster-Regular";
  src: url("../public/assets/font/Lobster-Regular.ttf");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
